bin
obj
.vs
*.user
.idea
Nugets

/EFCore.BulkExtensions.Tests/testsettings.local.json
!*.csproj
!*.png
EFCore.BulkExtensions.PerProvider/EFCore.BulkExtensions.MySql/*
EFCore.BulkExtensions.PerProvider/EFCore.BulkExtensions.PostgreSql/*
EFCore.BulkExtensions.PerProvider/EFCore.BulkExtensions.Sqlite/*
EFCore.BulkExtensions.PerProvider/EFCore.BulkExtensions.SqlServer/*
/EFCore.BulkExtensions/EFCore.BulkExtensions.csproj
/EFCore.BulkExtensions.MySql/EFCore.BulkExtensions.MySql.csproj
/EFCore.BulkExtensions.Core/EFCore.BulkExtensions.Core.csproj
